/*css*/

*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-family: "맑은 고딕";
}

a{
	text-decoration-style: none;
	text-decoration-line: none;
	text-decoration-color: black;
	color: black;
}

#gnbbar{
	width: 100vw;
	height: 80px;
	border: 1px solid red;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
#gnb_logo{
	align-items: center;
	display: flex;
	justify-content: left;
	width: 150px;
	height: 80px;
	padding: 0px;
	margin: 0;
}
#gnb_logo i{
	margin-left: 20px;
	font-size: 32px;
}
#gnb_logo p{
	margin-left: 16px;
	font-size: 24px;
}

#gnb_menu{
	display: flex;
}

#gnb_menu li{
	padding: 8px 16px;
}